
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 20px;
}


h1 {
    text-align: center;
    color: #b32d00;
    font-size: 2.5em;
    margin-bottom: 10px;
}


p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}


h2 {
    color: #ff6600;
    border-bottom: 2px solid #ff6600;
    padding-bottom: 5px;
    margin-top: 20px;
}


ul, ol {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

li {
    margin-bottom: 10px;
    font-size: 1.1em;
}


footer {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #b32d00;
}
