
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}


.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.image-container {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    max-width: 420px;
}

.image-container:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: brightness(90%) contrast(110%);
}


p {
    font-size: 0.9em;
    color: #555;
}


a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #1d6fa5;
}
